.container {
  --gutter: 1rem;
  --max-width: 500px;
  max-width: calc(var(--max-width) + var(--gutter) * 2);
  padding-inline: var(--gutter);
  margin-inline: auto;
  padding-block: 32px;
}

.section {
  padding-block-end: 1.5rem;

  & + .section {
    padding-block-end: 0rem;
  }

  &__header {
    margin-block-end: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    border-radius: var(--rounded);
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 1.5rem;
  }
}